@model IEnumerable<OdeToFood.Models.RestaurantListViewModel>

@{
    ViewBag.Title = "Home Page";
}

<form method="get" action="@Url.Action("Index")"
      data-otf-ajax="true" data-otf-target="#restaurantList">

    <input type="search" name="searchTerm" />
    <input type="submit" value="Search by Name" />
</form>

@Html.Partial("_Restaurants", Model);
